.container-join-us {
  margin-right: 93px;
}

.container-join-us__text {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: $primery-white-color;
}
